CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_mt7981=y
CONFIG_TARGET_mediatek_mt7981_DEVICE_cmcc_rax3000m=y

CONFIG_MTK_CHIP_MT7981=y
CONFIG_MTK_CONNINFRA_APSOC_MT7981=y
CONFIG_MTK_FIRST_IF_MT7981=y
CONFIG_MTK_MT_WIFI_FIRMWARE_PATH_MT7981="mt7981-fw-20240823"
CONFIG_MTK_MT_WIFI_MT7981_20240823=y
CONFIG_MTK_MT_WIFI_PATH="mt_wifi"

