CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_mt7981=y
CONFIG_TARGET_mediatek_mt7981_DEVICE_cmcc_rax3000m=y

CONFIG_MTK_MT_WIFI=m
CONFIG_MTK_MT_WIFI_DRIVER_VERSION_7672=y
CONFIG_MTK_MT_WIFI_FIRMWARE_PATH_MT7981="mt7981-fw-20240823"
CONFIG_MTK_MT_WIFI_MT7981_20240823=y
CONFIG_MTK_MT_WIFI_PATH="mt_wifi"
CONFIG_PACKAGE_iwinfo=y
CONFIG_PACKAGE_kmod-mt_wifi=y
CONFIG_PACKAGE_luci-app-mtwifi-cfg=y
CONFIG_PACKAGE_mtwifi-cfg=y


