CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_acelink_ew-7886cax=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_acelink_ew-7886cax=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_acer_predator-w6=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_acer_predator-w6=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_asus_rt-ax59u=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_asus_rt-ax59u=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_asus_tuf-ax4200=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_asus_tuf-ax4200=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_asus_tuf-ax6000=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_asus_tuf-ax6000=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_bananapi_bpi-r3=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_bananapi_bpi-r3=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cetron_ct3003=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_cetron_ct3003=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cmcc_rax3000m=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_cmcc_rax3000m=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_confiabits_mt7981=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_confiabits_mt7981=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cudy_re3000-v1=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_cudy_re3000-v1=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cudy_wr3000-v1=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_cudy_wr3000-v1=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_glinet_gl-mt3000=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_glinet_gl-mt3000=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_glinet_gl-mt6000=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_glinet_gl-mt6000=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_h3c_magic-nx30-pro=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_h3c_magic-nx30-pro=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_jcg_q30-pro=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_jcg_q30-pro=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_mediatek_mt7981-rfb=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_mediatek_mt7981-rfb=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_mediatek_mt7986a-rfb-nand=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_mediatek_mt7986a-rfb-nand=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_mediatek_mt7988a-rfb=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_mediatek_mt7988a-rfb=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_mediatek_mt7986b-rfb=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_mediatek_mt7986b-rfb=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_mercusys_mr90x-v1=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_mercusys_mr90x-v1=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_netgear_wax220=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_netgear_wax220=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_qihoo_360t7=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_qihoo_360t7=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_routerich_ax3000=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_routerich_ax3000=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_tplink_tl-xdr4288=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_tplink_tl-xdr4288=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_tplink_tl-xdr6086=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_tplink_tl-xdr6086=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_tplink_tl-xdr6088=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_tplink_tl-xdr6088=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_ubnt_unifi-6-plus=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_ubnt_unifi-6-plus=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_xiaomi_mi-router-wr30u-112m-nmbm=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_xiaomi_mi-router-wr30u-112m-nmbm=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_xiaomi_mi-router-wr30u-stock=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_xiaomi_mi-router-wr30u-stock=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_xiaomi_redmi-router-ax6000-stock=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_xiaomi_redmi-router-ax6000-stock=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_zbtlink_zbt-z8102ax=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_zbtlink_zbt-z8102ax=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_zyxel_ex5601-t0-stock=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_zyxel_ex5601-t0-stock=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_zyxel_ex5700-telenor=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_zyxel_ex5700-telenor=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_zyxel_nwa50ax-pro=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_zyxel_nwa50ax-pro=""

CONFIG_PACKAGE_luci-app-attendedsysupgrade=y
CONFIG_PACKAGE_luci-app-advanced-reboot=y
CONFIG_PACKAGE_luci-app-advancedplus=y
CONFIG_PACKAGE_luci-app-aria2=y
CONFIG_PACKAGE_luci-app-ddnsto=y
CONFIG_PACKAGE_luci-app-diskman=y
CONFIG_PACKAGE_luci-app-eqospuls=y
CONFIG_PACKAGE_luci-app-easymesh=y
CONFIG_PACKAGE_luci-app-filetransfer=y
CONFIG_PACKAGE_luci-app-ikoolproxy=y
CONFIG_PACKAGE_luci-app-linkease=y
CONFIG_PACKAGE_luci-app-openclash=y
CONFIG_PACKAGE_luci-app-passwall2=y
CONFIG_PACKAGE_luci-app-quickstart=y
CONFIG_PACKAGE_luci-app-smartdns=y
CONFIG_PACKAGE_luci-app-samba4=y
CONFIG_PACKAGE_luci-app-store=y
CONFIG_PACKAGE_luci-app-mwan3=y
CONFIG_PACKAGE_luci-app-vlmcsd=y
CONFIG_PACKAGE_luci-app-vsftpd=y
CONFIG_PACKAGE_luci-app-usbmodem=y
# CONFIG_PACKAGE_luci-app-unblockneteasemusic is not set
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-upnp=y

CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-i18n-attendedsysupgrade-zh-cn=y
CONFIG_PACKAGE_luci-i18n-opkg-zh-cn=y
CONFIG_PACKAGE_luci-i18n-base-zh-cn=y
CONFIG_PACKAGE_luci-i18n-firewall-zh-cn=y
