CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_abt_asr3000-ubootmod=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_abt_asr3000-ubootmod=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_abt_asr3000=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_abt_asr3000=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_acelink_ew-7886cax=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_acelink_ew-7886cax=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_acer_predator-w6=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_acer_predator-w6=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_smartrg_sdg-8612=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_smartrg_sdg-8612=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_smartrg_sdg-8614=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_smartrg_sdg-8614=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_smartrg_sdg-8622=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_smartrg_sdg-8622=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_smartrg_sdg-8632=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_smartrg_sdg-8632=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_asus_rt-ax59u=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_asus_rt-ax59u=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_asus_tuf-ax4200=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_asus_tuf-ax4200=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_asus_tuf-ax6000=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_asus_tuf-ax6000=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_bananapi_bpi-r3=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_bananapi_bpi-r3=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_bananapi_bpi-r3-mini=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_bananapi_bpi-r3-mini=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cetron_ct3003-ubootmod=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_cetron_ct3003-ubootmod=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cetron_ct3003-stock=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_cetron_ct3003-stock=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cmcc_a10-ubootmod=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_cmcc_a10-ubootmod=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_jcg_q30-ubootmod=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_jcg_q30-ubootmod=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_jcg_q30=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_jcg_q30=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cmcc_rax3000m=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_cmcc_rax3000m=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cmcc_rax3000m-emmc-ubootmod=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_cmcc_rax3000m-emmc-ubootmod=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cmcc_rax3000m-nand-ubootmod=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_cmcc_rax3000m-nand-ubootmod=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_comfast_cf-e393ax=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_comfast_cf-e393ax=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_confiabits_mt7981=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_confiabits_mt7981=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cudy_m3000-v1=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_cudy_m3000-v1=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cudy_re3000-v1=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_cudy_re3000-v1=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cudy_tr3000-v1=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_cudy_tr3000-v1=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cudy_wr3000-v1=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_cudy_wr3000-v1=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_dlink_aquila-pro-ai-m30-a1=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_dlink_aquila-pro-ai-m30-a1=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_glinet_gl-mt2500=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_glinet_gl-mt2500=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_glinet_gl-mt3000=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_glinet_gl-mt3000=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_glinet_gl-mt6000=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_glinet_gl-mt6000=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_h3c_magic-nx30-pro-nmbm=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_h3c_magic-nx30-pro-nmbm=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_h3c_magic-nx30-pro=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_h3c_magic-nx30-pro=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_imou_lc-hx3001-ubootmod=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_imou_lc-hx3001-ubootmod=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_jdcloud_re-cp-03=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_jdcloud_re-cp-03=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_livinet_zr-3020-ubootmod=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_livinet_zr-3020-ubootmod=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_livinet_zr-3020=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_livinet_zr-3020=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_mediatek_mt7981-rfb=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_mediatek_mt7981-rfb=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_mediatek_mt7986a-rfb-nand=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_mediatek_mt7986a-rfb-nand=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_mediatek_mt7988a-rfb=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_mediatek_mt7988a-rfb=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_mediatek_mt7986b-rfb=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_mediatek_mt7986b-rfb=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_mercusys_mr90x-v1=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_mercusys_mr90x-v1=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_netcore_n60=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_netcore_n60=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_netgear_wax220=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_netgear_wax220=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_nokia_ea0326gmp=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_nokia_ea0326gmp=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_qihoo_360t7-ubootmod=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_qihoo_360t7-ubootmod=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_qihoo_360t7=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_qihoo_360t7=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_routerich_ax3000=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_routerich_ax3000=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_tplink_tl-xdr4288=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_tplink_tl-xdr4288=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_tplink_tl-xdr6086=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_tplink_tl-xdr6086=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_tplink_tl-xdr6088=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_tplink_tl-xdr6088=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_tplink_tl-xtr8488=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_tplink_tl-xtr8488=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_ubnt_unifi-6-plus=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_ubnt_unifi-6-plus=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_unielec_u7981-01-emmc=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_unielec_u7981-01-emmc=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_unielec_u7981-01-nand=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_unielec_u7981-01-nand=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_xiaomi_mi-router-ax3000t-ubootmod=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_xiaomi_mi-router-ax3000t-ubootmod=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_xiaomi_mi-router-ax3000t=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_xiaomi_mi-router-ax3000t=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_xiaomi_mi-router-wr30u-112m-nmbm=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_xiaomi_mi-router-wr30u-112m-nmbm=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_xiaomi_mi-router-wr30u-ubootmod=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_xiaomi_mi-router-wr30u-ubootmod=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_xiaomi_mi-router-wr30u-stock=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_xiaomi_mi-router-wr30u-stock=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_xiaomi_redmi-router-ax6000=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_xiaomi_redmi-router-ax6000=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_xiaomi_redmi-router-ax6000-ubootmod=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_xiaomi_redmi-router-ax6000-ubootmod=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_xiaomi_redmi-router-ax6000-stock=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_xiaomi_redmi-router-ax6000-stock=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_yuncore_ax835=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_yuncore_ax835=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_zbtlink_zbt-z8102ax=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_zbtlink_zbt-z8102ax=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_zbtlink_zbt-z8103ax=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_zbtlink_zbt-z8103ax=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_zyxel_ex5601-t0-ubootmod=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_zyxel_ex5601-t0-ubootmod=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_zyxel_ex5601-t0-stock=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_zyxel_ex5601-t0-stock=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_zyxel_ex5700-telenor=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_zyxel_ex5700-telenor=""
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_zyxel_nwa50ax-pro=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_zyxel_nwa50ax-pro=""
CONFIG_ALL_KMODS=y
CONFIG_ALL_NONSHARED=y
CONFIG_DEVEL=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_AUTOREMOVE=y
CONFIG_BPF_TOOLCHAIN_BUILD_LLVM=y
# CONFIG_BPF_TOOLCHAIN_NONE is not set
CONFIG_BUILDBOT=y
CONFIG_BUILD_LOG=y
CONFIG_COLLECT_KERNEL_DEBUG=y
CONFIG_DWARVES=y
CONFIG_HAS_BPF_TOOLCHAIN=y
CONFIG_IB=y
CONFIG_IMAGEOPT=y
CONFIG_JSON_CYCLONEDX_SBOM=y
CONFIG_KERNEL_ARM_PMU=y
CONFIG_KERNEL_BPF_EVENTS=y
CONFIG_KERNEL_BPF_STREAM_PARSER=y
CONFIG_KERNEL_BUILD_DOMAIN="buildbot.infra.immortalwrt.org"
CONFIG_KERNEL_BUILD_USER="buildbot"
CONFIG_KERNEL_DEBUG_INFO_BTF=y
CONFIG_KERNEL_DEBUG_INFO_BTF_MODULES=y
# CONFIG_KERNEL_DEBUG_INFO_REDUCED is not set
CONFIG_KERNEL_FTRACE=y
CONFIG_KERNEL_KPROBES=y
CONFIG_KERNEL_KPROBE_EVENTS=y
CONFIG_KERNEL_MODULE_ALLOW_BTF_MISMATCH=y
CONFIG_KERNEL_PERF_EVENTS=y
CONFIG_KERNEL_XDP_SOCKETS=y
CONFIG_MAKE_TOOLCHAIN=y
CONFIG_PACKAGE_attendedsysupgrade-common=y
CONFIG_PACKAGE_bridger=y
CONFIG_PACKAGE_kmod-sched-act-vlan=y
CONFIG_PACKAGE_kmod-sched-bpf=y
CONFIG_PACKAGE_kmod-sched-core=y
CONFIG_PACKAGE_kmod-sched-flower=y
CONFIG_PACKAGE_kmod-xdp-sockets-diag=m
CONFIG_PACKAGE_kselftests-bpf=m
CONFIG_PACKAGE_libbfd=m
CONFIG_PACKAGE_libbpf=y
CONFIG_PACKAGE_libbz2=m
CONFIG_PACKAGE_libctf=m
CONFIG_PACKAGE_libdw=m
CONFIG_PACKAGE_libelf=y
CONFIG_PACKAGE_libopcodes=m
CONFIG_PACKAGE_libpcap=m
CONFIG_PACKAGE_libxdp=m
CONFIG_PACKAGE_luci-app-attendedsysupgrade=y

CONFIG_PACKAGE_luci-app-advanced-reboot=y
CONFIG_PACKAGE_luci-app-aria2=y
CONFIG_PACKAGE_luci-app-diskman=y
CONFIG_PACKAGE_luci-app-dockerman=y
CONFIG_PACKAGE_luci-app-filebrowser=y
CONFIG_PACKAGE_luci-app-hd-idle=y
CONFIG_PACKAGE_luci-app-mwan3=y
CONFIG_PACKAGE_luci-app-openclash=y
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-unblockneteasemusic=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-vlmcsd=y
CONFIG_PACKAGE_luci-app-vsftpd=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-bootstrap=y

CONFIG_PACKAGE_luci-i18n-attendedsysupgrade-zh-cn=y
CONFIG_PACKAGE_musl-fts=m
CONFIG_PACKAGE_objdump=m
CONFIG_PACKAGE_perf=m
CONFIG_PACKAGE_qosify=m
CONFIG_PACKAGE_rpcd-mod-rpcsys=y
CONFIG_PACKAGE_tc-tiny=m
CONFIG_PACKAGE_xdp-filter=m
CONFIG_PACKAGE_xdp-loader=m
CONFIG_PACKAGE_xdpdump=m
CONFIG_PACKAGE_zlib=y
CONFIG_REPRODUCIBLE_DEBUG_INFO=y
CONFIG_SDK=y
CONFIG_SDK_LLVM_BPF=y
CONFIG_TARGET_ALL_PROFILES=y
CONFIG_TARGET_ROOTFS_PARTSIZE=300
CONFIG_USE_LLVM_BUILD=y
CONFIG_VERSIONOPT=y
CONFIG_VERSION_BUG_URL=""
CONFIG_VERSION_CODE=""
CONFIG_VERSION_DIST="ImmortalWrt"
CONFIG_VERSION_FILENAMES=y
CONFIG_VERSION_HOME_URL=""
CONFIG_VERSION_HWREV=""
CONFIG_VERSION_MANUFACTURER=""
CONFIG_VERSION_MANUFACTURER_URL=""
CONFIG_VERSION_NUMBER=""
CONFIG_VERSION_PRODUCT=""
CONFIG_VERSION_REPO="https://downloads.immortalwrt.org/releases/23.05.3"
CONFIG_VERSION_SUPPORT_URL=""
